<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Voodoo</title>
        @js 'https://unpkg.com/htmx.org@1.9.3'
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/output.css" type="text/css" media="screen" />

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    </head>
    <body>
        <h1 class="font-bold">Voodoo Landing Page</h1>
    </body>
</html>
